.card {
    display: flex;
    flex-direction: column;
}

.card-img-top {
    width: 280px;
    height: 330px;
    margin: 30px auto 50px auto;
}

.card-body {
    display: flex;
    flex-direction: column;
    height: 40%;
}

.card-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* 최대 1줄까지 표시합니다 */
    overflow: hidden;
    text-overflow: ellipsis; /* 넘치는 부분은 ...으로 처리합니다 */
    font-weight: bold;
    text-align: center;
}

.card-price {
    text-align: center;
    /* 가로 중앙 정렬 */
    align-self: center;
     /* 세로 중앙 정렬 */
}

.add-to-cart {
    border: rgb(198, 207, 219) solid 1px;
    padding: 5px;
    border-radius: 4px;
    display: flex;
}

.cart-price {
    margin-top: 30px;
}